html {
    overflow-y: scroll;
}

.section_title {
    font-size: 48px;
    height: 200px;
    line-height: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A4D386;
    text-align: center;
}


/************************************/
/************    App2 and signup pages    **********/
/************************************/
.JoinBtn {
    height: 100px;
    width: 35%;
    margin: auto;
    border: 3px solid #37760E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;
    /*padding: 20px 0 44px 0;*/
    font-size: 36px;
}

    .JoinBtn:hover {
        color: #84BC60;
    }

    .JoinBtn:active {
        font-size: 48px;
        /*padding: 14px 0 38px 0;*/
    }

.form-contents {
    padding: 100px;
}

    .form-contents .row {
        height: 60px;
        font-size: 24px;
    }

.form-inputs {
    border: 3px solid #37760E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 300px;
}

    .form-inputs .Select-control {
        height: 60px;
    }

    .form-inputs .Select-value {
        line-height: 60px !important;
    }


#join-submit {
    font-size: 24px;
    color: #FFFFFF;
    background: #4CA800;
    border: 2px solid #A4B924;
    box-sizing: border-box;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 300px;
    line-height: 60px;
}

.help-lnks {
    font-size: 18px !important;
}

.help-img {
    background-image: url('/assets/help_desktop.png');
    background-size: 100% 100%;
    height:550px;
    width:1100px;
    margin: 5% auto 5% auto;
}

#hint-text {
    font-size: 18px;
    color: red;
}

.joined-info {
    font-size: 56px;
    line-height: 93px;
    color: #2D3A4B;
}

.joined-fig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gap {
    height: 120px;
}

/************************************/
/************    end of App2 and signup pages    **********/
/************************************/


@media only screen and (min-width: 961px){

    /* Nav */
    .logo_title {
        font-size: 48px
    }

    .EB_sep {
        display:none;
    }

    /* Card*/

    .home-card-deck {
        padding: 50px;
    }

    .home-card-title {
        font-size: 28px;
        line-height: 52px;
        text-align: center;
        padding: 10px;
    }

    .home-card-content {
        font-size: 18px;
        line-height: 27px;
        padding: 10px;
    }

    .date-range-text {
        font-size: 18px;
    }

    .modal-entry {
        font-size: 18px;
        color: #235EAE;
    }

    .modal-title {
        font-size: 40px;
    }

    .modal-body {
        font-size: 28px;
    }

    .chick-img {
        width: 106px;
        height: 111px;
    }

    .home-footer {
        font-size: 28px;
    }


    /*Map section*/
    .my_map {
        width: 100%;
        height: 500px;
        border: 0;
    }

    .info-overlay {
        display: block;
        background-color: #f8f9fa ;
        position: absolute;
        top: 450px;
        left: 50px;
        height: 120px;
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .info-item {
        font-size: 20px;
        margin-left:auto;
        margin-right:auto;
        white-space: nowrap;
    }

    /*fig section*/
    .fig_title {
        color: #235EAE;
        text-align: left;
        font-size: 24px;
        font-weight: 600;
    }

    .my_fig {
        height: 30vh;
        width: 30vw;
        padding: 1rem 0;
        display: block !important;
    }

    .half_donut {
        padding: 1rem 0;
        display: block !important;
    }
}



@media only screen and (min-width: 681px) and (max-width: 960px) {


    .fig_title {
        color: #235EAE;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }


    .my_fig {
        height: 300px;
        width: 600px;
        padding: 2rem 0;
        display: block !important;
    }


}


@media only screen and (min-width: 401px) and (max-width: 680px) {
    .fig_title {
        color: #235EAE;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }


    .my_fig {
        height: 220px;
        width: 350px;
        padding: 2rem 0;
        display: block !important;
    }

}

@media only screen and (min-width: 401px) and (max-width: 960px) {

    /*Nav*/
    .logo_title {
        font-size: 20px;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }

    .EB_sep {
        display: none;
    }

    /* Card*/

    .home-card-deck {
        padding: 30px;
        flex-direction: column;
    }

    .card {
        margin-bottom: 40px !important;
    }

    .home-card-title {
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        padding: 10px;
    }

    .home-card-content {
        font-size: 24px;
        line-height: 35px;
        padding: 10px;
    }

    .date-range-text {
        font-weight: 100;
        font-size: 22px;
    }

    .modal-entry {
        font-weight: 100;
        font-size: 24px;
        color: #235EAE;
    }

    .modal-title {
        font-size: 40px;
    }

    .modal-body {
        font-size: 28px;
    }

    .chick-img {
        width: 53px;
        height: 55px;
    }

    .home-footer {
        font-size: 24px;
        text-align: center;
        width: 400px;
    }


    /*Map section*/
    .my_map {
        width: 100%;
        height: 350px;
        border: 0;
    }

    .info-overlay {
        display: block;
        background-color: #f8f9fa ;
        position: absolute;
        top: 300px;
        left: 20px;
        height: 90px;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .info-item {
        font-size: 16px;
        margin-left:auto;
        margin-right:auto;
        white-space: nowrap;
    }

    /* app2 */
    .half_donut {
        padding: 2rem 0;
        display: block !important;
    }

    .signup-form-col {
        margin-bottom: 100px !important;
    }

    .joined-info {
        font-size: 36px;
        line-height: 56px;
        text-align: center;
        padding-top: 100px;
    }

}

@media only screen and (max-width: 400px) {

    /*Nav*/
    .logo_title {
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    .EB_sep {
        display: block;
    }

    .section_title {
        font-size: 36px;
        height: 120px;
        line-height: 120px;
    }

    /* card */

    .home-card-deck {
        padding: 20px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .home-card-title {
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }

    .home-card-content {
        font-size: 18px;
        padding: 10px;
    }

    .date-range-text {
        font-weight: 100;
        font-size: 12px;
    }

    .modal-entry {
        font-weight: 100;
        font-size: 12px;
        color: #235EAE;
    }


    .modal-title {
        font-size: 28px;
    }

    .modal-body {
        font-size: 18px;
    }

    /* home footer*/
    .chick-img {
        width: 35px;
        height: 37px;
    }

    .home-footer {
        font-size: 14px;
        width: 200px;
    }

    /*Map section*/
    .my_map {
        width: 100%;
        height: 300px;
        border: 0;
    }

    .info-overlay {
        display: block;
        background-color: #f8f9fa ;
        position: absolute;
        top: 285px;
        left: 15px;
        height: 75px;
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .info-item {
        font-size: 12px;
        margin-left:auto;
        margin-right:auto;
        white-space: nowrap;
    }

    /*fig section*/
    .fig_title {
        color: #235EAE;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
    }

    .my_fig {
        height: 240px;
        width: 300px;
        padding: 0 0;
        display: block !important;
    }

    .half_donut {
        padding: 2rem 0;
        display: block !important;
    }

    .joined-info {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        padding-top: 100px;
    }

    .JoinBtn {
        height: 80px;
        width: 60%;
        font-size: 28px;
    }


    .form-contents {
        padding: 100px;
    }

    .form-contents .row {
        height: 60px;
        font-size: 24px;
    }

    .form-inputs {
        width: 250px;
    }


    #join-submit {
        font-size: 24px;
        width: 250px;
    }

    #hint-text {
        font-size: 16px;
        color: red;
    }

    .help-lnks {
        font-size: 12px !important;
    }

    .help-img {
        background-image: url('/assets/help_mobile.png');
        background-size: 100% 100%;
        height: 485px;
        width: 330px;
    }
        /*1447 2081*/


    #team_accp {
        padding-top: 100px;
    }


}

.ifwrap {
    position: relative;
    overflow: hidden;
}

.HomeBanner {
    transform-origin: top left;
    height: 750px;
    border: 0;
    display: block;
    overflow-y: hidden;
}

.NotYet {
    width: 100vw;
    height: auto;
    display: block;
}


/*.people-plot {
    display: inline-block
}

.people-plot-wrapper {
    width: 600px;
    position: relative;
    position: relative;
    margin: auto;
}

.x-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 400px;
}*/
/*
    xs: < 576px sm: 576~768 px md: 992~768px lg: 1140~960px xl: > 1200px */
@media only screen and (min-width: 1400px) {
    .NavLnks {
        font-size: 24px;
        color: #235EAE;
        padding: 0 30px;
    }

    .navbar-collapse ul {
        padding-top: 10px;
        padding-left: 100px;
    }


}


@media only screen and (min-width: 961px) and (max-width: 1400px) {
    /* Nav bar*/
    .NavLnks {
        font-size: 20px;
        color: #235EAE;
        padding: 0 10px;
    }

    .navbar-collapse ul {
        padding-top: 10px;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 961px) {
    .NavLnks {
        font-size: 16px;
        color: #235EAE;
        padding: 0 10px;
    }

    .navbar-collapse ul {
        padding-top: 10px;
        padding-left: 30px;
    }

}

.tn {
    color:blue;
    font-size:12px;
}

font {
    font-family: 'Noto Serif', serif;
}

:not(font) {
    font-family: 'Noto Sans TC', sans-serif;
}

.card {
    border-radius: 1rem !important;
}

.card .btn:hover {
    color: #102c52 !important;
}

input:invalid {
    outline: none !important;
}



/* Data page css  */
.month-data-title{
    text-align: center;
}

.month-data-table{
    padding: 1rem 3rem 1rem 3rem;
}

#accb {
    text-align:center;
    color:white;
    background-color:#E8817C;
}

#accl {
    text-align:center;
    color:white;
    background-color:#F2C581;
}

#accp {
    text-align:center;
    color:white;
    background-color:#CDA0D0;
}

.sort {
    float: none !important;
}